@font-face {
  font-family: super-boom;
  src: local('super-boom.regular'), url(/src/Fonts/super-boom-regular.otf) format('truetype');
}


#msg {
  font-family: 'super-boom';
  letter-spacing: 2px;
  word-spacing: 25px;
  background-size: 100%;
  background-repeat: repeat;
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #1195DB, #F03030);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}